@import url('https://fonts.googleapis.com/css2?family=Caudex:ital@1&family=Inter:wght@800;900&family=Kaushan+Script&display=swap');

.container {
  color: rgb(46, 41, 41);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  background: rgba(255, 255, 255, 0);
  font-size: 15px;
  height: 90px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  padding-right: 80px;
}

.active {
  color: rgb(241, 240, 240);
  background-color: #000;
  border-radius: 19px;
  padding: 18px 26px 17px 31px;
  cursor: grab;
}

.inactive {
  margin-top: 15px;
  cursor: pointer;
}

.inactive:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.navbarActions {
  display: flex;
  gap: 60px;
}